* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
  font-size: 18px;
  font-weight: 700;
  color: hsl(186, 14%, 43%);
}

main {
  width: 900px;
  height: 400px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  color: hsl(183, 100%, 15%);
}
.input-section {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.calc-section {
  width: 48%;
  height: 100%;
  background-color: hsl(183, 100%, 15%);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#bill,
#number-ppl {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: hsl(189, 41%, 97%);
  outline: none;
  border-radius: 5px;
  text-align: right;
  font-size: 24px;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
}

label {
  position: relative;
}

label[for="bill"]:before {
  content: "";
  position: absolute;
  top: 40px;
  left: 10px;
  width: 20px;
  height: 20px;
  background-image: url(images/icon-dollar.svg);
  background-repeat: no-repeat;
}

.select-tip {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
  top: 999999;
}

.select-tip label {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  width: 100px;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  display: grid;
  place-content: center;
}

#custom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(184, 14%, 56%);
  width: 100px;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

label[for="number-ppl"]:before {
  content: "";
  position: absolute;
  top: 40px;
  left: 10px;
  width: 20px;
  height: 20px;
  background-image: url(images/icon-person.svg);
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 100%);
  font-size: 17px;
}

span {
  color: hsl(186, 14%, 43%);
  font-size: 14px;
}

#tip-amount,
#total {
  color: hsl(172, 67%, 45%);
  font-size: 24px;
}

button {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  padding: 10px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 60px;
}

input[type="radio"]:checked + label {
  background-color: hsl(172, 82%, 55%);
  color: hsl(183, 100%, 15%);
}

button:hover {
  background-color: hsl(172, 82%, 55%);
  color: hsl(183, 100%, 15%);
}

main input[type="number"]:focus {
  border: 1px solid hsl(172, 82%, 55%);
}

@media (max-width: 800px) {
  body {
    margin-top: 200px;
  }
  main {
    width: 300px;
    height: fit-content;
    flex-direction: column;
  }

  .calc-section {
    width: 100%;
    height: 48%;
  }
  .input-section {
    width: 100%;
    height: 48%;
  }
}
